<h1>{{question.author}} | {{question.query}}</h1>
<p>{{question.note}}</p>
<hr>
<button class="btn btn-warning" {{action "delete" question}}>Delete Question</button>
{{update-question question=question update="update"}}
