<div>
  {{#link-to 'question' question.id}}
    <p>{{question.author}} | {{question.query}}</p>
  {{/link-to}}
  {{count}}{{update-question question=question update="update"}}
  <button class="btn btn-warning"{{action 'delete' question}}>Delete</button>
  <hr>
</div>
